.Navigation{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--primary-blue);
  border-radius: 0 0 20px 20px;
}

.fixed_Nav_home{
  z-index: 1;
  animation: Navdrop 500ms ease-in;
}

@keyframes Navdrop{
  from{
    transform: translateY(-10em);
  } to {
    transform: translateY(0);
  }
}

.Navigation nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5em;
}

.Navigation .nav_home{
  justify-content: flex-end;
}

.Navigation .logo_home{
  position: absolute;
  top: 10em;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.Navigation .logo{
  display: flex;
  align-items: baseline;
  font-family: "Red Hat Text", sans-serif;
  color: #fff;
}

.Navigation .logo h1 {
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.Navigation .logo_home h1{
  font-size: 18vw;
  transform: translateX(-4vw);
}

.Navigation .logo h3{
  font-size: 1.2em;
  margin-left: 0.5em;
}

.Navigation .right .hamburger{
  cursor: pointer;
}

.Navigation .right .hamburger_menu {
  display: flex;
  flex-direction: column;
  list-style: none;
  text-decoration: none;
  position: absolute;
  top: 4.3em;
  right: 5%;
  padding: 1em 0.5em;
  /* background: #fff; */
  border-radius: 5px;
  transform: translateX(0);
  transition: transform 500ms ease;
  
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.Navigation .right .menu_open{
  animation: fadeIn 500ms ease;
}

.Navigation .right .menu_close{
  transform: translateX(15em);
  animation: fadeOut 500ms ease;
}

@keyframes fadeIn{
  0% {
    display: flex;
    transform: translateX(10em);
    opacity: 0;
  } 100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut{
  0% {
    /* transform: translateX(0); */
    opacity: 1;
  } 75% {
    /* transform: translateX(10em); */
    opacity: 0;
  } 100% {
    display: none;
  }
}

.Navigation .right .hamburger_menu li{
  font-family: "Red Hat Text",sans-serif;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  text-align: right;
  padding: 0.5em 0;
  text-transform: uppercase;
  border-radius: 20px 0 0 20px;
  cursor: pointer;
  transition: all 100ms ease-in;
}

.Navigation .right .hamburger_menu li:hover{
  background: rgba(204, 204, 204, 0.466);
  padding: 0.5em 1em;
}

.Navigation .right_scrolled .hamburger_menu li{
  color: var(--primary-blue);
}

.Navigation .right_scrolled .hamburger_menu li:hover{
  color: #fff;
  background: var(--primary-blue);
}


